extends layout

block content

    h1= title

    form(method='POST', action='/create')
        div.form-group
            label Username :
            input(type='text', class="form-control", name='username')

        div.form-group
            label Email :
            input(type='email', class='form-control', name='email')

        div.form-group
            label Mobile :
            input(type='text', class='form-control', name='mobile')

        button(type='submit', class='btn btn-success') Create