doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(rel='text/javascript', src='/javascripts/jquery-3.3.1.slim.min.js')
    script(rel='text/javascript', src='/javascripts/popper.min.js')
    script(rel='text/javascript', src='/javascripts/bootstrap.js')
    script(rel='text/javascript', src='/javascripts/socket.io.js')
    script(rel='text/javascript', src='/javascripts/script.js')
